/* Fonts */

@font-face {
  font-family: 'Poppins Regular';
  src: url('../fonts/Poppins-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Italic';
  src: url('../fonts/Poppins-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('../fonts/Poppins-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Bold Italic';
  src: url('../fonts/Poppins-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Poppins Extra Bold';
  src: url('../fonts/Poppins-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins Extra Bold Italic';
  src: url('../fonts/Poppins-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}

/* Variables */

:root {

  --purple: hsl(259, 100%, 65%);
  --lightRed: hsl(0, 100%, 67%);
  --white: hsl(0, 0%, 100%);
  --offWhite: hsl(0, 0%, 94%);
  --lightGrey: hsl(0, 0%, 86%);
  --smokeyGrey: hsl(0, 1%, 44%);
  --offBlack: hsl(0, 0%, 8%)
}

/* Utlility Clases */

.bg-purple {
  background-color: var(--purple);
}

.color-purple {
  color: var(--purple)
}

.bg-red {
  background-color: var(--lightRed);
}

.color-red {
  color: var(--lightRed)
}

.bg-white {
  background-color: var(--white);
}

.color-white {
  color: var(--white)
}

.bg-off-white {
  background-color: var(--offWhite);
}

.color-off-white {
  color: var(--offWhite)
}

.bg-smokey-grey {
  background-color: var(--smokeyGrey);
}

.color-smokey-grey {
  color: var(--smokeyGrey)
}

.bg-off-black {
  background-color: var(--off-black);
}

.color-off-black {
  color: var(--off-black)
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.justify-between {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.justify-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.items-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.items-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.fw-bold {
  font-family: 'Poppins Bold';
}

.fw-bold-i {
  font-family: 'Poppins Bold Italic';
}

.fw-x-bold {
  font-family: 'Poppins Extra Bold';
}

.fw-x-bold-i {
  font-family: 'Poppins Extra Bold Italic';
}

.fs-small {
  font-size: 16px;
}

.fs-normal {
  font-size: 32px;
}

.fs-x-large {
  font-size: 101px;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.uppercase {
  text-transform: uppercase;
}

.hidden {
  display: none;
}


/* Custom Overrides */

body {
  font-family: 'Poppins Regular';
  font-weight: normal;
  font-size: 16px;

}

footer {
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 15px;
  width: 100%
}

footer a {
  color: var(--softRed)
}

main {
  min-height: 100vh;
  padding-top: 50px;
  padding-bottom: 50px;
}

label {
  display: block;
  margin-bottom: 10px;
  letter-spacing: 2px;
  font-size: 14px;
}

input {
  width: 160px;
  border-radius: 8px;
  border: 1px solid var(--lightGrey);
  padding: 11px 15px;
}

#ageCalculator {
  margin: auto;
  padding: 50px;
  border-radius: 25px 25px 200px 25px;
}

#date-entry {
  -webkit-column-gap: 35px;
  -moz-column-gap: 35px;
  column-gap: 35px;
  padding-bottom: 50px;
  border-bottom: 1px solid var(--lightGrey);
}

#date-output {
  line-height: 1.2;
}

#submitButton {
  background-color: var(--purple);
  border-radius: 50%;
  padding: 20px;
  float: right;
  position: relative;
  top: -45px;
  -webkit-transition: ease .3s;
  -o-transition: ease .3s;
  transition: ease .3s;
  cursor: pointer;
}


#submitButton:hover {
  background-color: black
}

/* Media Queries */

@media (max-width : 767px) {

  .container {
    width: 340px;
  }

}

@media (min-width : 768px) {

  .container {
    width: 540px;
  }
}

@media (min-width : 992px) {

  .container {
    width: 840px;
  }
}